.mi-card {
    width: 20rem;
    margin-top: 3rem;
    margin-left: 50px;
    min-height: 200px;
    background-color: #B7C0F9;
  }

  .text-fecha {
    color: #756d6d;
    text-align: center;
    display: block;  
    width: 100%;  
  }

  .text-titulos {
    color: black;
    text-align: center;
    width: 100%;
  }

  .custom-border {
    border: 1.5px solid black !important;
    border-radius: 6px !important;
  }

  .mi-cardRegister {
    width: 20rem;
    margin-top: 3rem;
    height: 30rem;
    background-color: #B7C0F9;
  }

